# Ignore large data files
zippedData/
*.zip
*.gz
*.db

# Ignore unwanted documentation files
CONTRIBUTING.md
LICENSE.md
README.md

# Ignore other files you don't need
index.ipynb
movie_data_erd.jpeg
student.ipynb

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env
venv/
env/